html,body {
    scroll-behavior: smooth;
}
body{
    transition: background-color 0.5s ease-in-out;
}

.container{
    max-width: calc(1300px + 30px);
    padding:0 15px;
    margin:0 auto;
}
.site-header{
    padding:15px 0;
}
.hgroup{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
.site-branding{
    width:275px;
    margin-right:auto;
}
.site-header .navbar{
    width:calc(100% - 275px); 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding-left:15px;
    margin-left:auto;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
        justify-content:end;
}
.site-title{
    margin:0;
}
.site-title a{
    text-decoration:none;
    color:#000;
    text-transform: capitalize;
    font-size:30px;
    line-height: 1;
    font-weight:600;
}
.site-branding .site-description{
    font-size: 14px;
    margin:2px 0 0;
}
.header-information{
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
        order:2;
}
.header-information + .main-navigation{
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
        order:1;
        margin-right:30px;
}
.section-about{
    padding:80px 0;
}
.section-about .section-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:start;
    -ms-flex-align:start;
        align-items:start;
    margin:0 -15px;
}
.section-about .section-left{
    margin:0 15px;
    width: calc(65% - 30px);
}
.section-about .section-right{
    margin:0 15px;
    width: calc(35% - 30px);   
}
@media screen and (max-width: 840px) {
    .section-about .section-left{
        margin:0 15px 30px;
        width: calc(100% - 30px);
    }
    .section-about .section-right{
        margin:0 15px;
        width: calc(100% - 30px);   
    } 
}
.section-about h2{
    font-size:60px;
    line-height: 1.2;
    /* height: 360px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

@media screen and (max-width: 992px){
    .section-about h2{
        font-size:40px;
        /* height: auto; */
    }
    .view-my-work a svg{
        width:150px;
        height: 150px;
    }
}

/* .section-about h2 span:not(:first-child){
    display: none;
} */

.section-about .desc{
    font-size:35px;
    max-width: 760px;
    margin-top:40px;
}
.specialized-in{
    position: relative;
    padding:0 0 0 25px;
    margin:0 0 28px;
}
.specialized-in:before{
    content:'';
    width:7px;
    top:10px;
    bottom:10px;
    background-color: #000;
    position: absolute;
    left:0;
}
.view-my-work{
    text-align: left;
}
.view-my-work a{
    display: inline-block;
}
.view-my-work a svg{
    transition: all 0.3s ease-in-out;
    width: 170px;
    height: 170px;
}
.view-my-work a:hover svg{
    transform: rotateZ(135deg);
}
.section-education{
    padding:80px 0;
}
.section-education .item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:start;
    border-bottom:2px solid #D9D9D9;
    padding:30px 0;
}
.section-education .item:nth-of-type(1){
    padding-top: 0;
}
.section-education .item .time-spent + .item-content{
    width: calc(100% - 220px);
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
        order:1;
}
.section-education .item .time-spent{
    margin-left:auto;
    width: 220px;
    text-align: right;
    padding-left:30px;
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
        order:2;
        font-size:35px;
}
@media screen and (max-width: 768px) {
    .section-education .item .time-spent + .item-content{
        width: 100%;
    }
    .section-education .item .time-spent{
        width: 100%;
        text-align: left;
        padding:0;
    }
}
.section-education .item h4,
.experience-wrap .item h4{
    margin-bottom: 7px;
}
.section-skills{
    padding:80px 0;
}
.section-skills .heading,
.section-my-work .heading{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:start;
    -ms-flex-align:start;
        align-items:start;
        margin:0 -15px 60px;
}
.section-my-work .heading{
    padding-top:80px;
}
.section-skills .heading > h2,
.section-skills .heading > div,
.section-my-work .heading > h2,
.section-my-work .heading > div{
    margin:0 15px;
    width: calc(50% - 30px);
}
@media screen and (max-width:992px) {
    .section-skills .heading > h2,
    .section-skills .heading > div,
    .section-my-work .heading > h2,
    .section-my-work .heading > div{
        margin:0 15px 15px;
        width: calc(100% - 30px);
    }
}
.desc p:last-child{
    margin-bottom:0;
}
.experience-wrap .item,
.section-my-process .item,
.section-my-work .work-item{
    padding:30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-webkit-box-align:start;
    -ms-flex-align:start;
        align-items:start;
        border-bottom:2px solid #D9D9D9;
}
.section-my-work .work-item{
    padding-right: 70px;
}
.experience-wrap .item:first-child,
.section-my-process .item:first-child,
.section-my-work .work-item:first-child{
    padding-top: 0;
}
.experience-wrap  .time-experienced{
    width:calc(30% - 30px);
    margin:0 15px;
}
.experience-wrap  .content{
    width:calc(70% - 30px);
    margin:0 15px;
}
@media screen and (max-width: 768px) {
    .experience-wrap  .time-experienced{
        width:calc(100% - 30px);
        margin:0 15px 15px;
    }
    .experience-wrap  .content{
        width:calc(100% - 30px);
        margin:0 15px 15px;
    }
}

.experience-wrap .desc{
    margin-top: 30px;
}
.accordian-title{
    position: relative;
    padding-right: 40px;
}
.accordian-title .icon{
    position: absolute;
    right:0;
    top:0;
}
.skills-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-webkit-box-align:start;
    -ms-flex-align:start;
        align-items:start;
gap:100px;
-webkit-box-pack:center;
    -ms-flex-pack:center;
        justify-content:center;
        padding-top:100px;
}
.skill-item{
    text-align: center;
}
.skill-item p{
    margin: 0;
}
.skill-item p a{
    text-decoration: none;
}
.skills-wrap figure{
    margin:0;
    width: 94px;
    height:94px;
    background-color: #d9d9d9;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin:0 0 10px;
    border:2px solid #d9d9d9;
}
.skills-wrap figure img{
    width: 94px;
    height:94px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.skills-wrap figure:hover img{
    transform: scale(1.05);
}
.section-we-work-with,
.section-themes{
    padding:80px 0 50px;
}
.section-we-work-with .section-wrap,
.section-themes .section-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-webkit-box-align:start;
    -ms-flex-align:start;
        align-items:start;
        margin:0 -15px;
        
}
.section-we-work-with .item,
.section-themes .item{
    width: calc(33.33% - 30px);
    margin:0 15px 30px;
    
}

.section-we-work-with .item{
    border-right: 2px solid #d9d9d9;
    padding-left: 15px;;
}
@media screen and (max-width: 768px) {
    .section-we-work-with .item,
    .section-themes .item{
        width: calc(100% - 30px);
        margin:0 15px 15px;
        
    }
    .section-we-work-with .item{
        border-right: 0;
        padding-left: 0;
    }
    .section-we-work-with .item h4, .section-we-work-with .item p,
    .section-themes .item h4, .section-themes .item p{
        max-width: 100%;
    }
}
.section-we-work-with .item:nth-of-type(3n+1),
.section-themes .item:nth-of-type(3n+1){
    padding-left: 0;
}
.section-we-work-with .item:nth-child(3n),
.section-themes .item:nth-of-type(3n){
    border-right:0;
}
.section-we-work-with .item h4,
.section-we-work-with .item p{
    max-width: 360px;
}
.section-we-work-with .item img{
    max-width: 100%;
    vertical-align: top;
}
.section-themes .item{
    border:1px solid #f1f1f1;
    border-radius: 10px;
    overflow: clip;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.section-themes .item figure{
    margin:0;
    overflow: hidden;
    position: relative;
}


.section-themes .item .content{
    padding:15px 25px 25px;
}
.section-themes .item .content h4{
    margin-bottom: 10px;
}
.section-themes .item .content .description{
    margin-bottom: 7px;
}
.section-themes .item .content .description p{
    margin:0;
}
.section-themes .item img{
    width: 100%;
    display: block;
}
.section-themes .price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
gap:10px;
margin-bottom: 14px;
}
.section-themes .price .label{
    margin-right:7px;
}
.section-themes .price .cut-price{
    text-decoration: line-through;
    font-weight: 400;
    font-style: italic;
    color: #837b7b;
}
.section-themes .price .real-price{
    text-decoration: none;
    font-weight: 600;
}
.section-themes .content .bttn-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    gap:15px;
}
.section-themes .content .bttn-wrap a{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: center;
}

.section-my-process{
    padding:80px 0;
}
.section-my-process .section-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:start;
    margin:0 -15px;
}
.section-my-process .section-wrap > div{
    margin:0 15px;
    width: calc(50% - 30px);
}
@media screen and (max-width: 768px){
    .section-my-process .section-wrap > div{
        margin:0 15px 15px;
        width: calc(100% - 30px);
    }
}
.section-my-process .section-wrap > div:nth-child(1){
    padding-right: 15px;
}
.section-my-process .section-wrap > div:nth-child(2){
    padding-left: 15px;
}
.section-my-process .section-wrap > div p:last-child{
    margin:0;
}
.section-my-process .item .title{
    position: relative;
    padding-right: 40px;
    width: 100%;
}
.section-my-process .item .title .icon{
    position:absolute;
    top:0;
    right:0;
}
.item .icon{
    cursor:pointer;
}
.section-my-work{
    padding:0 0 80px;
    overflow: hidden;
}
.work-item{
    width: 100%;;
    position: relative;
    padding-right: 100px;
    margin-bottom: 10px;
}
.work-item .date{
    font-size: 60px;
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.section-my-work h4{
    margin-bottom:7px;
}

.project-info{
    position: absolute;
    display: none;
}
.project-info a{
    width: 300px;
    height:150px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: block;
}
.section-my-work .view-more-bttn{
    text-align: center;
    margin-top:50px; 
}
.section-my-work  .see-more-wrap{
    padding-top:80px;
}
.section-my-work  .see-more{
    text-align: center;
}
.section-my-work  .see-more h2{
    max-width: 768px;
    line-height: 1.2;
    margin:0 auto 20px;
}
.section-my-work  .see-more p{
    display: block;
    max-width: 992px;
    margin:0 auto;

}
.cross svg{
    width:23px;
    height:23px;
}
.experience-wrap .desc, .section-my-process .desc{
    display: none;
}
.section-my-process h2{
    line-height: 1.2;
}
.section-my-process .item h4{
    margin-bottom:0;
}
.section-my-process .item .desc{
    margin-top:30px;
}
.item.active .icon .cross,
.item .icon .plus{
    display:block;
}
.item.active .icon .plus,
.item .icon .cross{
    display: none;
}
.footer-cta{
    padding:80px 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-webkit-box-align:start;
    -ms-flex-align:start;
        align-items:flex-start;
        margin:0 -15px;
}
.figure-wrap.support{
    position: absolute;
    left:0;
    top:-10px;
}
.footer-cta .call-to-action{
    min-height: 104px;
}
.footer-cta .call-to-action figure{
    width:104px;
    height:104px;
    background-color: #d9d9d9;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.footer-cta .call-to-action figure img{
    width:102px;
    height:102px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.footer-cta .call-to-action  span.online-check{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    right: 4px;
}

.footer-cta .call-to-action h2{
    text-indent: 130px;
    position: relative;
    margin:0;
}
@media screen and (max-width: 1024px) {
    .footer-cta .call-to-action figure,
    .footer-cta .call-to-action figure img{
        width:60px;
        height:60px;
    }
    .footer-cta .call-to-action  span.online-check{
        width: 15px;
        height: 15px;
    }
    .footer-cta .call-to-action h2{
        text-indent: 75px;
    }
    .footer-cta .call-to-action{
        min-height: 60px;
    }
}
.footer-cta .call-to-action,
.footer-cta  .bttn-wrap{
    margin: 0 15px;
}

.footer-cta .call-to-action{
    width:calc(70% - 30px);
}
.footer-cta  .bttn-wrap{
    width:calc(30% - 30px);
    text-align: right;
}
@media screen and (max-width: 768px) {
    .footer-cta .call-to-action{
        width:calc(100% - 30px);
        margin-bottom: 30px;
    }
    .footer-cta  .bttn-wrap{
        width:calc(100% - 30px);
        text-align: left;
    }
}
.footer-bottom{
    border-top:2px solid #000;
    padding:40px 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;

}
.footer-bottom > div{
    width:50%;
}

.footer-bottom > div:nth-of-type(1){
    text-align: left;
    padding-right:15px;
    font-size: 20px;
}
.footer-bottom > div:nth-of-type(2){
    text-align: right;
    padding-left:15px;
}
.footer-navigation ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    gap:40px;
    margin:0;
    padding:0;
    list-style: none;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
        justify-content:end;
}
.footer-navigation ul a{
    text-decoration: none;
    font-size: 20px;
}
.type-portfolio .heading-wrap{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr) 20px minmax(0, 1fr);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap:20px;
    -webkit-box-align:end;
    -ms-flex-align:end;
        align-items:end;
        margin-bottom:30px;
}
.type-portfolio .heading-wrap .heading{
    -ms-grid-column-span: 9;
    grid-column: span 9 / span 12;
}
.type-portfolio .heading-wrap .back-bttn{
    -ms-grid-column-span: 3;
    grid-column: span 3 / span 12;
}
.type-portfolio .heading-wrap .heading p:last-child{
    margin:0;
}
@media screen and (max-width: 1024px) {
    .type-portfolio .heading-wrap .heading,
    .type-portfolio .heading-wrap .back-bttn{
        -ms-grid-column-span: 12;
        grid-column: span 12 / span 12;
    }
}
.single .type-portfolio{
    padding:80px 0;
}
.type-portfolio  .featured-image img{
    width: 100%;
    object-fit: cover;
    max-height: 614px;
}
.portfolio-archieve-section{
    padding:80px 0;
}
.portfolio-archieve-section .portfolio-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 -15px;
}
.portfolio-archieve-section .portfolio-wrap article{
    width:calc(33.33% - 30px);
    margin:0 15px 15px;
}
@media screen and (max-width: 768px) {
    .footer-bottom > div{
        width:100%;
    }
    .footer-bottom > div:nth-of-type(1),
    .footer-bottom > div:nth-of-type(2){
        padding:5px 0;
        text-align: center;
    }
    .portfolio-archieve-section .portfolio-wrap article{
        width:calc(100% - 30px);
        margin:0 15px 40px;
    }
    .portfolio-archieve-section .portfolio-wrap article:last-child{
        margin-bottom: 0;
    }
    .footer-navigation ul{
        justify-content: center;
    }
}
.portfolio-archieve-section figure{
    width: 100%;
    height:250px;
    background-color: #f1f1f1;
    overflow: hidden;
}
.portfolio-archieve-section figure img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.portfolio-archieve-section article:hover figure img{
    transform: scale(1.03);
}
.portfolio-archieve-section h3{
    line-height: 1.2;
}
.portfolio-archieve-section .entry-content{
    margin-top:0;
}
.single.single-post .site-content,
.section-contact-us{
    padding:80px 0;
}
.error-404{
    padding:80px 0;
}

@media screen and (max-width: 992px){
    .section-about,
    .section-education,
    .section-skills,
    .section-we-work-with,
    .section-my-process,
    .section-my-work{
        padding:40px 0;
    }
    .section-skills .heading, .section-my-work .heading{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px){
    .site-header{
        position: relative;
    }
    .site-title a{
        font-size: 24px;
    }
    .main-navigation ul{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background-color: #fff;
    }
    .main-navigation ul li{
        display: block;
        border-bottom: 1px solid #f1f1f1;
    }
    .main-navigation ul li a{
        padding: 7px 15px;
        display: block;
    }
    .header-information + .main-navigation{
        margin-right: 15px;
    }
    .site-branding{
        width: auto;
        margin-right: auto;
    }
    .site-header .navbar{
        margin-left: 0;
    }
    .header-information .bttn{
        font-size: 16px;
        padding:7px 10px;
    }
}

.owl-theme .owl-dots{
    text-align: left;
    display: inline-flex;
}
.section-featured.section-about h2{
    position: relative;
    max-width: 767px;
}
.section-featured.section-about .owl-dots{
    position:absolute;
    top:100%;
    left:0;
}
